@import "tailwindcss";

/* Custom Theme */

@theme {
    /* Fonts */
    --font-sans: "Teachers", sans-serif;
    --font-heading: "Urbanist", sans-serif;
    --font-sans2: 'Inter', system-ui, sans-serif;

}
body {
    font-family: var(--font-sans);
    background-color: var(--color-dark-bg);
    color: var(--color-dark-text);
    min-height: 100vh;
    background: #FDFDFE;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}
  